name: Simple Deploy Pipeline

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create SSH key file
        run: |
          echo "${{ secrets.KEY }}" > key.pem
          chmod 600 key.pem

      - name: Copy project to EC2 using SCP
        run: |
          scp -o StrictHostKeyChecking=no -i key.pem -r . ubuntu@${{ secrets.HOST }}:/home/ubuntu/app

      - name: SSH into EC2 and run commands
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ubuntu@${{ secrets.HOST }} "
            cd /home/ubuntu/app &&
            npm install &&
            pm2 restart myapp || pm2 start app.js --name myapp
          "
